<div class="messages">
  {{range .Messages}}
  <div class="message {{.Type}}">
    {{.Text}}
    <button class="close">&times;</button>
  </div>
  {{end}}
</div>

<div class="dashboard">
  <div class="container-fluid">
    <header class="u-full-width u-cf">
      <a href="/logout" class="u-pull-right button">Logout</a>
      <h1><a href="/">Formic</a></h1>
    </header>
    <div class="row">
      <div class="eight columns">
        <h2><a href="/dashboard/">Forms</a> <span>&rsaquo;</span> {{.Form.Name}}</h2>
        <div class="row">
          <div class="eight columns">
            <pre><code>&lt;form action=&quot;{{.FormURL}}&quot; method=&quot;post&quot;&gt;
  &lt;p&gt;&lt;input type=&quot;text&quot; name=&quot;name&quot; placeholder=&quot;Name&quot;&gt;&lt;/p&gt;
  &lt;p&gt;&lt;input type=&quot;email&quot; name=&quot;email&quot; placeholder=&quot;Email&quot;&gt;&lt;/p&gt;
  ...
  &lt;p&gt;&lt;button type=&quot;submit&quot;&gt;Submit&lt;/button&gt;&lt;/p&gt;
&lt;/form&gt;</code></pre>
          </div>
          <div class="four columns">
            <p>
              Just do a <code>POST</code> to the url:
              <pre><code>{{.FormURL}}</code></pre>
            </p>
            <p>
              You can put any form fields you want as long as they're just text (<em>i.e. files are ignored</em>).
            </p>
          </div>
        </div>
        <table class="u-full-width">
          <thead>
            <tr>
              <th>Submitted <small>(UTC)</small></th>
            {{range $field := .Fields}}
              <th>{{$field | Title}}</th>
            {{end}}
            </tr>
          </thead>
          <tbody>
          {{range .Entries}}
            <tr>
            {{$entry := .}}
              <td width="20%">{{index $entry "Submitted"}}</td>
            {{range $.Fields}}
              <td>{{index $entry .}}</td>
            {{end}}
            </tr>
          {{else}}
            <tr>
              <td>
                Entries posted to the form will be recorded here
              </td>
            </tr>
          {{end}}
          </tbody>
        </table>
      </div>
      <div class="four columns">
        <h2>Update Form</h2>
        <form action="" method="post">
          <p>
            <label for="form-name">Form Name</label>
            <input
              type="text"
              name="formName"
              id="form-name"
              class="u-full-width"
              value="{{.Form.Name}}"
            >
            <label for="redirect-url">Redirect URL</label>
            <input
              type="text"
              name="redirectURL"
              id="redirect-url"
              class="u-full-width"
              value="{{.Form.RedirectURL}}"
            >
          </p>
          <p>
            <button class="button-primary" type="submit">
              Update Form
            </button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
