<div class="admin">
  <div class="container-fluid">
    <div class="u-full-width u-cf">
      <a href="/logout" class="u-pull-right button">Logout</a>
      <h1>Submit</h1>
    </div>
    <div class="row">
      <div class="eight columns">
        <h2>Forms</h2>
        <ul>
        {{range .Forms}}
          <li class="row">
            <div class="name six columns">
              <a href="/admin/{{.ID}}">{{.Name}}</a>
            </div>
            <div class="actions six columns">
              <a class="button" href="/admin/{{.ID}}">Delete</a>
            </div>
          </li>
        {{end}}
        </ul>
      </div>
      <div class="four columns">
        <h2>New Form</h2>
        <form action="" method="post">
          <p>
            <label for="form-name">Form Name</label>
            <input
              type="text"
              name="formName"
              id="form-name"
              class="u-full-width"
            >
            <label for="redirect-url">Redirect URL</label>
            <input
              type="text"
              name="redirectURL"
              id="redirect-url"
              class="u-full-width"
            >
          </p>
          <p>
            <button class="button-primary" type="submit">
              Create Form
            </button>
          </p>
        </form>
      </div>
  </div>
</div>
