<div class="messages">
  {{range .Messages}}
  <div class="message {{.Type}}">
    {{.Text}}
    <button class="close">&times;</button>
  </div>
  {{end}}
</div>

<div class="dashboard">
  <div class="container-fluid">
    <header class="u-full-width u-cf">
      <a href="/logout" class="u-pull-right button">Logout</a>
      <h1><a href="/">Formic</a></h1>
    </header>
    <div class="row">
      <div class="eight columns">
        <h2>Forms</h2>
        <ul>
        {{range .Forms}}
          <li class="row">
            <div class="name six columns">
              <a href="/dashboard/{{.ID}}">{{.Name}}</a>
            </div>
            <div class="actions six columns">
              <a class="delete-form button" href="/dashboard/{{.ID}}">Delete</a>
            </div>
          </li>
        {{else}}
          <li>You haven't created any forms yet</li>
        {{end}}
        </ul>
      </div>
      <div class="four columns">
        <h2>New Form</h2>
        <form action="" method="post">
          <p>
            <label for="form-name">Form Name</label>
            <input
              type="text"
              name="formName"
              id="form-name"
              class="u-full-width"
            >
            <label for="redirect-url">Redirect URL</label>
            <input
              type="text"
              name="redirectURL"
              id="redirect-url"
              class="u-full-width"
            >
            <label for="email-recepient">Email Recepient</label>
            <input
              type="text"
              name="emailRecepient"
              id="email-recepient"
              class="u-full-width"
            >
          </p>
          <p>
            <button class="button-primary" type="submit">
              Create Form
            </button>
          </p>
        </form>
      </div>
  </div>
</div>
<script src="/static/lib/superagent/superagent.js"></script>
<script>
  function createButton(label, onClick) {
    var button = document.createElement('button');
    button.innerText = label;
    button.addEventListener('click', onClick);
    return button;
  }
  function deleteForm(e) {
    e.preventDefault();
    var el = e.target;
    var messages = document.querySelector('.messages');
    var message = document.createElement('div');
    message.classList.add('message');
    message.classList.add('warning');
    message.innerText = "Are you sure you want to delete that form?"
    var yes = createButton('yes', function() {
      superagent
        .del(el.href)
        .end(function(res) {
          if (res.ok) {
            location.reload();
          }
        });
      message.remove();
    });
    var no = createButton('no', function() {
      message.remove();
    });
    var buttons = document.createElement('div');
    buttons.classList.add('buttons');
    buttons.appendChild(yes);
    buttons.appendChild(no);
    message.appendChild(buttons);
    messages.insertBefore(message, messages.firstChild);
  }
  Array.prototype.forEach.call(
    document.querySelectorAll('.delete-form'),
    function(el) {
      el.addEventListener('click', deleteForm)
    }
  );
</script>
