<div class="admin">
  <div class="container-fluid">
    <h1>Submit</h1>
    <div class="row">
      <div class="eight columns">
        <h2>Forms</h2>
        <ul>
        {{range .Forms}}
          <li class="row">
            <div class="name six columns">
              <a href="/admin/{{.Id}}">{{.Name}}</a>
            </div>
            <div class="actions six columns">
              <a class="button" href="/admin/{{.Id}}">Delete</a>
            </div>
          </li>
        {{end}}
        </ul>
      </div>
      <div class="four columns">
        <h2>New Form</h2>
        <form action="" method="post">
          <p>
            <input class="u-full-width" type="text" name="formName" placeholder="Form Name">
            <input class="u-full-width" type="text" name="redirectURL" placeholder="Redirect URL">
            <button class="button-primary" type="submit">
              Create Form
            </button>
          </p>
        </form>
      </div>
  </div>
</div>
