<div class="container">
  <div class="index">
    <h1>Formic</h1>
    <p>Dead-simple forms</p>
    <p>
      <a href="/dashboard/" class="button button-primary">
        Dashboard
      </a>
    </p>
    <footer>
      <iframe
        src="https://ghbtns.com/github-btn.html?user=marksteve&repo=formic&type=star&count=true"
        frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=marksteve&repo=formic&type=watch&count=true&v=2"
        frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=marksteve&repo=formic&type=fork&count=true"
        frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
    </footer>
  </div>
</div>
