<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Submit</title>
  <meta name="description" content="Dead-simple form submissions">
  <meta name="author" content="Mark Steve Samson">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Aleo:400/PT+Sans:400,700,400i,700i">
  <link rel="stylesheet" href="/static/lib/skeleton/css/normalize.css">
  <link rel="stylesheet" href="/static/lib/skeleton/css/skeleton.css">
  <link rel="stylesheet" href="/static/main.css">
  <link rel="icon" type="image/png" href="images/favicon.png">
</head>
<body>
  {{ yield }}
</body>
</html>

